<div ng-controller="ContactsCtrl">
<h1>Contact Detail - {{person}}</h1>
<hr>

<hr>
<ul>
	<li ng-repeat="person in awesomePeople">
		{{person}} - <button ng-click="deletePerson(person)"><a href="">Remove</a></button>
	</li>
</ul>
</div>
