<h1>Peeps</h1>
<hr>
<input ng-model="newPerson" ng-submit="addPerson(newPerson)"><button ng-click="addPerson(newPerson)">Add</button>
<hr>
<ul>
	<li ng-repeat="person in awesomePeople">
		{{person}} - <button ng-click="deletePerson(person)"><a href="">Remove</a></button>
	</li>
</ul>
